@font-face {
  font-family: fromWhereYouAre;
  src: url('../fonts/FromWhereYouAre.ttf'); }

table {
	margin: auto;
}

h3 {
	text-align: center;
	font-family: fromWhereYouAre;
}



/* Image card */

.demo-card-image.mdl-card:hover {
	opacity: 0.8;
}

.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('../img/flashcode.png') center / cover;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.8);
}

.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
